
Platform.DTO/bin/
Platform.DTO/obj/
Platform.Repository/bin/
Platform.Repository/obj/
Platform.Service/bin/
Platform.Service/obj/
Platform.Sql/bin/
Platform.Sql/obj/
Platform.Utilities/bin/
Platform.Utilities/obj/
PlatformWeb/bin/
PlatformWeb/obj/
Platform.WebAPI.Test/bin/
Platform.WebAPI.Test/obj/
Platform.WebAPI.Test/bin/Debug/Platform.WebAPI.Test.exe
Platform.WebAPI.Test/bin/Debug/Platform.WebAPI.Test.pdb
Platform.WebAPI.Test/obj/Debug/Platform.WebAPI.Test.exe
Platform.WebAPI.Test/obj/Debug/Platform.WebAPI.Test.pdb
