.vs/Platform/v15/Server/sqlite3/
.vs/Platform/v15/Server/sqlite3/


.vs/Platform/v15/

Platform.DTO/bin/
Platform.DTO/obj/

Platform.Service/bin/
Platform.Service/obj/

Platform.Repository/bin/
Platform.Repository/obj/

Platform.Sql/bin/
Platform.Sql/obj/


Platform.Utilities/bin/
Platform.Utilities/obj/

platformWeb/bin/
platformWeb/obj/

platform.WebAPI.Test/bin/
platform.WebAPI.Test/obj/

